body {
    margin: 0;
    font-family: 'Inknut Antiqua', serif;
    line-height: 200%;
}

#root {
    // background-color: white;
    background-color: #FBFFDC;
    color: #A4907C;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    font-family: serif;
    font-size: large;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
}

