@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 200%;
}

#root {
    // background-color: white;
    background: linear-gradient(135deg, #10acef 30%, #3c46d8);
    color: #efefef;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button:active {
    position: relative;
    top: 3px;
}

button:disabled {
    opacity: 60%;
    cursor: not-allowed;
}

.btn-white {
    width: 100%;
    height: 45px;
    background-color: #efefef;
    border: none;
    border-radius: 40px;
    color: #10acef;
    font-weight: 600;
    font-size: 0.9rem;
}

// UTILITIES

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}
