nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #98EECC;
    background-image: url('../../../public/assets/nav-background.webp');
    color: #efefef;

    width: 100vw;
    height: 20vh;
    border-bottom: 1px solid #A4907C;
    padding: 15px;

    #welcome-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;

        p, h2 {
            margin: 0;
        }
    }

    #search-bar-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;

        input {
            width: 46px;
            height: 30px;
            border-radius: 50px;
            border: none;

            background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: 14px center;
        }

        input:focus{
            animation: expandSearchBar .3s ease-in-out;
            animation-fill-mode: forwards;
        }
    }
}


@keyframes expandSearchBar {
    0% {
        width: 46px;
    }
    100% {
        width: 160px;
        background: white;
        padding: 0 10px;
    }
}




